@import "fonts.css";

@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

@import url('./fonts.css');


/* Для всех параграфов (p)*/
p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

/* Заголовок h1*/
.title-main { 
    font-size: 64px;
    color: #1F3F68;
}

/* Заголовок h2*/
.contact-title { 
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

/* Заголовок h3*/ 
.subtitle { 
    font-size: 36px;
    text-align: center;
}

/* Заголовки h4*/
.small-title { 
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

/* Поля ввода*/
.input-field { 
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    display: block; /* Чтобы они были с новой строки */
    margin-bottom: 20px; /* Отступ снизу */
    width: 100%; /* Растянуть на всю ширину */
    padding: 10px;
}

/* Кнопка отправки */
.btn-submit { 
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    border: none; /* Убираем стандартную рамку */
    padding: 15px 40px; /* Чтобы кнопка была большой */
    cursor: pointer;
}

/* Стили для хлебных крошек */
.breadcrumbs {
    list-style: none; /* Убираем точки списка */
    display: flex;    /* Выстраиваем в одну строку */
    padding: 0;
    margin-top: 10px;
    font-size: 14px;
    color: #1F3F68;
}

.breadcrumbs li {
    margin-right: 5px;
}

/* Добавляем "/" после каждого элемента, кроме последнего */
.breadcrumbs li:not(:last-child)::after {
    content: "/";
    margin-left: 5px;
    color: #ccc;
}

.breadcrumbs a {
    text-decoration: none;
    color: #1F3F68;
    font-weight: bold;
}

/* Фон для формы */
.form-wrapper {
    background-image: url('../img/images\ \(1\).jpg'); 
    
    background-size: cover;  /* Чтобы картинка покрывала весь блок */
    background-position: center;
    background-repeat: no-repeat;
    
    padding: 40px; /* Внутренний отступ, чтобы форма не прилипала к краям */
    border-radius: 20px; /* Закругленные углы */
    box-shadow: 0 10px 30px rgba(0,0,0,0.1); /*добавил тень для красоты */
    margin-top: 20px;
}